.toast {
    position: fixed;
    top: 10px;
    right: 10px;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

    padding: var(--space_four);

    display: flex;
    align-items: center;
    justify-content: center;

    gap: var(--space_four);

    background-color: white;

    border-radius: var(--radius_one);
}

.toast>p {
    font-size: var(--text-one);
    color: var(--color-one);
}